{% extends 'layout.twig' %}

{% block body %}
  <h1>{{title}}</h1>
  <p class="text-white text-xl">Welcome to {{title}}</p>
  <form action="" method="post">
    <input class="px-4 py-2 rounded-md" placeholder="Your Email" type="email" name="mail" id="mail" />
    <button class="px-4 py-2 rounded-md bg-blue-400 text-white hover:bg-blue-600" type="submit">Submit !</button>
  </form>
  <p class="text-white font-bold">{{mail}}</p>
{% endblock %}
