{% extends 'layout.twig' %}

{% block body %}
  <h1>{{title}}</h1>
  <p class="text-white text-xl">Welcome to {{title}}</p>
  <!-- button to /login and /register -->
  <a class="px-4 py-2 rounded-md bg-blue-400 text-white hover:bg-blue-600" href="/login">Login</a>
  <a class="px-4 py-2 rounded-md bg-blue-400 text-white hover:bg-blue-600" href="/register">Register</a>
  {% if user %}
    <p class="text-white text-xl">You are logged in as {{ user.username }}</p>
    <a class="px-4 py-2 rounded-md bg-blue-400 text-white hover:bg-blue-600" href="/logout">Logout</a>
  {% endif %}
{% endblock %}
