<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="bg-slate-700">
    {% block body %}{% endblock %}
  </body>
</html>
