{% extends "layout.twig" %}

{% block body %}
<form action="" method="post">
    <div class="w-full md:w-1/2 md:pr-10">
        <div class="bg-white rounded border mx-40 my-2 border-gray-400 shadow-md">
            <!-- Profile picture -->
            <div class="flex justify-center items-center">
                <img src="https://curie77.fr/wp-content/uploads/2016/04/icon-user.png" alt="avatar"
                    class="rounded-full w-32 h-32">
            </div>
            {% if error_m %}
            <div class="bg-red-500 text-white font-bold py-2 px-4 rounded text-center">
                {{ error_m }}
            </div>
            {% endif %}
            <input type="password" id="old_password" name="old_password" class="shadow-md text-black border rounded-md w-max px-4 py-3 mt-2"
                placeholder="Old password"/><br>
            <input type="password" id="password" name="password" class="shadow-md text-black border rounded-md w-max px-4 py-3 mt-2"
                placeholder="New password" /><br>
            <input type="password" id="password-confirm" name="password-confirm"
                class="shadow-md text-black border rounded-md w-max px-4 py-3 mt-2" placeholder="Confirm your new password"/>
            <p class="text-gray-700 text-center">{{ user.created_at | date("m/d/Y") }}</p>
            <div class="text-center mb-3">
                <button type="submit" class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 mt-3 rounded">
                    Save password
                </button>
                <a href="/profile" class="bg-gray-500 hover:bg-gray-400 text-white font-bold py-2 px-4 mt-3 rounded">
                    Cancel
                </a>
            </div>
        </div>
        <!-- csrf -->
        <input type="hidden" name="_token" value="{{ csrf_token }}">
    </div>
</form>
{% endblock %}